<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.wfo.app" version="0.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WealthFlow Organizer</name>
  <description>Sample Apache Cordova App</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
    Apache Cordova Team
  </author>
  <content src="index.html"/>
  <icon src="res/icons/xxxhdpi.png" width="192" height="192" density="xxxhdpi"/>
  <icon src="res/icons/xxhdpi.png" width="144" height="144" density="xxhdpi"/>
  <icon src="res/icons/xhdpi.png" width="96" height="96" density="xhdpi"/>
  <icon src="res/icons/hdpi.png" width="72" height="72" density="hdpi"/>
  <icon src="res/icons/mdpi.png" width="48" height="48" density="mdpi"/>
  <icon src="res/icons/ldpi.png" width="36" height="36" density="ldpi"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
</widget>