.btn {
  @apply
    focus:outline-none
    font-semibold
    rounded-lg
    text-sm
    inline-flex
    justify-center
    items-center
    px-3;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  @apply opacity-50;
}

.btn.loading {
  cursor: wait;
}

.btn.loading svg {
  color: inherit !important;
  fill: currentColor !important;
  width: 22px !important;
  height: 22px !important;
}

.btn.loading path:first-child {
  color: transparent !important;
}

.btn-full { 
  @apply w-full;
}

.btn-xs {
  @apply text-xs h-6;
}

.btn-sm {
  @apply h-8;
}

.btn-md {
  @apply h-10;
}

.btn-lg {
  @apply h-12;
}

.btn.btn-square {
  @apply px-1.5 aspect-square;
}

button[type].btn-primary, .btn-primary {
  @apply
    text-white
    bg-primary-700
    dark:bg-primary-600;
}

button[type].btn-primary:not(:disabled),  
.btn-primary:not(.disabled) {
  @apply hover:bg-primary-800 dark:hover:bg-primary-700;
}

button[type].btn-secondary, .btn-secondary {
  @apply
    text-sky-950
    dark:text-secondary-50
    bg-secondary-200/70
    dark:bg-secondary-700/60
}

button[type].btn-secondary:not(:disabled),
.btn-secondary:not(.disabled) {
  @apply hover:bg-secondary-200 dark:hover:bg-secondary-700;
}

button[type].btn-transparent, .btn-transparent {
  @apply dark:text-secondary-200;
}

button[type].btn-transparent:not(:disabled),
.btn-transparent:not(.disabled) {
  @apply hover:bg-gray-200 dark:hover:bg-gray-900/30;
}

button[type].btn-ghost, .btn-ghost {
  @apply text-primary-600 dark:text-primary-400;
}

button[type].btn-ghost:not(:disabled),
.btn-ghost:not(.disabled) {
  @apply hover:text-primary-700 dark:hover:text-primary-300;
}

button[type].btn-danger, .btn-danger {
  @apply bg-red-600 text-white;
}

button[type].btn-danger:not(:disabled),
.btn-danger:not(.disabled) {
  @apply hover:bg-red-700;
}

button[type].btn-success, .btn-success {
  @apply bg-green-600  text-white;
}

button[type].btn-success:not(:disabled),
.btn-success:not(.disabled) {
  @apply hover:bg-green-700;
}