.btn {
  @apply
    focus:outline-none
    font-semibold
    rounded-lg
    text-sm
    uppercase
    inline-flex
    justify-center
    items-center
    px-3
    disabled:opacity-50;
}

.btn-full {
  @apply w-full;
}

.btn-sm {
  @apply h-8;
}

.btn-md {
  @apply h-10;
}

.btn-lg {
  @apply h-12;
}

.btn-square {
  aspect-ratio: 1;
}

button[type].btn-primary, .btn-primary {
  @apply text-white bg-primary-700 hover:bg-primary-800 dark:bg-primary-600 dark:hover:bg-primary-700;
}

button[type].btn-secondary, .btn-secondary {
  @apply
    text-sky-950
    bg-secondary-200
    hover:bg-secondary-300
    dark:bg-secondary-200
    dark:hover:bg-secondary-300
}

button[type].btn-glass, .btn-glass {
  @apply
    dark:text-secondary-200
    hover:bg-gray-200
    dark:hover:bg-gray-900/30;
}

button[type].btn-danger, .btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white;
}