.flselect {
  @apply
    block
    w-full
    rounded-t-lg
    px-3
    pb-2
    pt-6
    text-sm
    font-medium
    bg-secondary-50
    dark:bg-secondary-700
    border-0
    border-b-2
    appearance-none
    dark:text-white
    focus:outline-none
    focus:ring-0
    placeholder-transparent
    focus:placeholder-secondary-400
    border-secondary-200
    dark:border-secondary-600;
  min-height: 56px;
}

.flselect:not(.has-error):focus {
  @apply
    dark:focus:border-primary-500
    focus:border-primary-600;
}

.flselect.has-error {
  @apply border-red-600 dark:border-red-400;
}

.flselect.has-start-addon {
  @apply ps-10 inset-0.5;
}

.flselect-start-addon {
  @apply absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-secondary-500 dark:text-secondary-400;
}

.flselect:focus ~ .flselect-start-addon:not(.has-error) {
  @apply text-primary-600 dark:text-primary-400;
}

.flselect-start-addon.has-error {
  @apply text-red-700 dark:text-red-400;
}

.flselect ~ label {
  @apply
    absolute
    text-sm
    font-medium
    duration-300
    transform
    -translate-y-3
    scale-75
    top-4
    z-10
    origin-[0]
    start-3;
}

.flselect:not(.has-error) ~ label {
  @apply text-secondary-500 dark:text-secondary-400;
}

.flselect:focus ~ label {
  @apply scale-75 -translate-y-3 text-primary-700 dark:text-primary-400 rtl:translate-x-1/4 rtl:left-auto;
}

.flselect.has-error ~ label {
  @apply text-red-700 dark:text-red-400;
}

.flselect-start-addon ~ label {
  @apply ps-10 start-2.5;
}

.flselect-error {
  @apply mt-1 text-xs text-red-600 dark:text-red-400;
}

.flselect-help {
  @apply mt-2 text-xs text-secondary-500 dark:text-secondary-400;
}
