.inputfl {
  @apply
    block
    rounded-t-lg
    px-2.5
    pb-2
    pt-6
    w-full
    text-sm
    font-medium
    bg-secondary-50
    dark:bg-secondary-700
    border-0
    border-b-2
    appearance-none
    dark:text-white
    placeholder-transparent
    focus:ring-0 
    focus:placeholder-secondary-400
    border-secondary-200
    dark:border-secondary-600
    focus:outline-none;
  height: 54px;
}

.inputfl.has-start-addon {
  @apply ps-10;
}

.inputfl.has-error {
  @apply border-red-600 dark:border-red-400;
}

.inputfl:not(.has-error) {
  @apply dark:focus:border-primary-500 focus:border-primary-600
}

.inputfl-start-addon {
  @apply absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-secondary-500 dark:text-secondary-400;
}

.inputfl:focus ~ .inputfl-start-addon:not(.has-error) {
  @apply text-primary-500 dark:text-primary-400;
}

.inputfl-start-addon.has-error {
  @apply text-red-700 dark:text-red-400;
}

.inputfl ~ label {
  @apply
    absolute
    start-2.5
    text-sm
    font-medium
    duration-300
    transform
    -translate-y-3
    scale-75
    top-4
    z-10
    origin-[0];
}

.inputfl:not(.has-error) ~ label {
  @apply text-secondary-500 dark:text-secondary-400;
}

.inputfl:focus ~ label {
  @apply scale-75 -translate-y-3 rtl:translate-x-1/4 rtl:left-auto text-primary-500 dark:text-primary-400;
}

.inputfl.has-error ~ label {
  @apply text-red-700 dark:text-red-400;
}

.inputfl.filled[type^="date"]:not(:focus),
.inputfl.filled[type="time"]:not(:focus) {
  @apply text-transparent;
}

.inputfl:placeholder-shown:not(:focus) ~ label,
.inputfl.filled[type^="date"]:not(:focus) ~ label,
.inputfl.filled[type="time"]:not(:focus) ~ label {
  @apply scale-100 translate-y-0;
}

.inputfl.has-start-addon ~ label {
  @apply ps-10;
}

.inputfl.has-start-addon:not(:focus):placeholder-shown ~ label {
  @apply ps-8
}

.inputfl-error {
  @apply mt-1 text-xs text-red-600 dark:text-red-400;
}

.inputfl-help {
  @apply mt-2 text-xs text-secondary-500 dark:text-secondary-400;
}
