.bottom-nav {
  @apply
    fixed
    z-50
    w-[400px]
    max-w-[90%]
    mx-auto
    h-14
    -translate-x-1/2
    bg-white
    border
    border-gray-200
    rounded-full
    bottom-2
    left-1/2
    dark:bg-gray-700
    dark:border-gray-600;
}

.bottom-nav > div {
  @apply grid h-full;
}

.bottom-nav .nav-link {
  @apply
    inline-flex
    flex-col
    items-center
    justify-center
    px-5
    active:bg-gray-50
    dark:active:bg-gray-800
    text-gray-500
    dark:text-gray-400
    active:text-primary-600
    dark:active:text-primary-500
    text-2xl;
}

.bottom-nav .nav-link:first-child {
  @apply rounded-s-full;
}

.bottom-nav .nav-link:last-child {
  @apply rounded-e-full;
}

.bottom-nav .nav-link.active {
  @apply text-primary-600 dark:text-primary-500 bg-gray-50 dark:bg-gray-800/50;
}medium

.bottom-nav .nav-link > svg {
  @apply w-5 h-5;
}

.bottom-nav .create-button {
  @apply
    inline-flex
    items-center
    justify-center
    w-9
    h-9
    font-medium
    bg-primary-600
    dark:bg-primary-500
    rounded-full
    focus:bg-primary-700
    dark:active:bg-primary-600
    focus:outline-none
    text-white;
}

.bottom-nav .create-button > svg {
  @apply w-4 h-4;
}

.bottom-nav .dropdown-menu {
  @apply bottom-[6rem] w-[10rem];
}

.bottom-nav .dropdown-menu > div {
  @apply flex flex-col items-center mb-4 space-y-2;
}

.bottom-nav .dropdown-menu .create-menu-item {
  @apply
    w-[56px]
    h-[56px]
    flex
    flex-col
    items-center
    justify-center
    rounded-full
    shadow-sm
    relative;
}

.bottom-nav .dropdown-menu .create-menu-item,
.bottom-nav .dropdown-menu .create-menu-item .item-name {
  @apply
    border
    text-gray-500
    bg-white
    border-gray-200
    hover:text-gray-900
    dark:border-gray-600
    dark:hover:text-white
    dark:text-gray-400
    hover:bg-gray-50
    dark:bg-gray-700
    dark:hover:bg-gray-600;
}

.bottom-nav .dropdown-menu .create-menu-item .item-name {
  @apply absolute block mb-px text-sm font-medium -translate-y-1/2 end-[68px] top-7 px-2 py-1 rounded-md;
}