@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
}

.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  @apply text-sky-900 dark:text-gray-50 bg-secondary-100 dark:bg-gray-800;
}

button {
  touch-action: manipulation;
}
