@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  --app-navbar-height: 64px;
  --app-text-color: theme('colors.sky.900');
}

.dark {
  --app-text-color: theme('colors.gray.50');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  color: var(--app-text-color);
}

input {
  color: var(--app-text-color);
}
